! =================
! urxvt
! =================

! 
!URxvt.font: 7x14
URxvt.boldFont:
URxvt.letterSpace: 0
URxvt.scrollBar: false
URxvt.internalBorder: 10

! copy & paste
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard

! disable useless ctrl+shift ISO14755 mode
URxvt.iso14755: false
URxvt.iso14755_52: false

!URxvt.transparent: true
!URxvt.shading: 20
